<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer></script>
    <title>game page</title>
</head>
<body>
    <h1>This is Hello from the app!</h1>
    <h1>Tic Tac Toe will be displayed here</h1>

    <div class="game-board" id="game-board">
        <div class="cell" id="b1"></div>
        <div class="cell" id="b2"></div>
        <div class="cell" id="b3"></div>
        <div class="cell" id="b4"></div>
        <div class="cell" id="b5"></div>
        <div class="cell" id="b6"></div>
        <div class="cell" id="b7"></div>
        <div class="cell" id="b8"></div>
        <div class="cell" id="b9"></div>
    </div>
    <div class="winning-message" id="winning-message">
        <button id="Restart-Button">RESTART</button>
    </div>
</body>
</html>